.App {
  text-align: center;
}

.App-container {
    max-width: 600px;
    margin: 0 auto;
}

.MessageWindow, .MessageForm {
    text-align: left;
}

.bot::before {
    content: "Flatland FAQ Index > ";
}

.user::before {
    content:  "You > ";
}

.message {
    margin-bottom: 1rem;
}
